node-red/nodered-supernova-motors-flow.json
[
  {
    "id": "supernova_motors_flow",
    "type": "tab",
    "label": "Supernova Motors",
    "disabled": false,
    "info": ""
  },
  {
    "id": "supernova_dashboard_tab",
    "type": "ui_tab",
    "name": "Supernova",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "supernova_motors_group",
    "type": "ui_group",
    "name": "Motor Control",
    "tab": "supernova_dashboard_tab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "supernova_mqtt_broker",
    "type": "mqtt-broker",
    "name": "Laptop MQTT",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "node-red-supernova",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "motor_up_button",
    "type": "ui_button",
    "z": "supernova_motors_flow",
    "name": "Up",
    "group": "supernova_motors_group",
    "order": 1,
    "width": 2,
    "height": 1,
    "passthru": false,
    "label": "UP",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "keyboard_arrow_up",
    "payload": "up",
    "payloadType": "str",
    "topic": "supernova/motors/cmd",
    "topicType": "str",
    "x": 170,
    "y": 100,
    "wires": [
      [
        "motor_command_out"
      ]
    ]
  },
  {
    "id": "motor_left_button",
    "type": "ui_button",
    "z": "supernova_motors_flow",
    "name": "Left",
    "group": "supernova_motors_group",
    "order": 2,
    "width": 2,
    "height": 1,
    "passthru": false,
    "label": "LEFT",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "keyboard_arrow_left",
    "payload": "left",
    "payloadType": "str",
    "topic": "supernova/motors/cmd",
    "topicType": "str",
    "x": 170,
    "y": 150,
    "wires": [
      [
        "motor_command_out"
      ]
    ]
  },
  {
    "id": "motor_right_button",
    "type": "ui_button",
    "z": "supernova_motors_flow",
    "name": "Right",
    "group": "supernova_motors_group",
    "order": 3,
    "width": 2,
    "height": 1,
    "passthru": false,
    "label": "RIGHT",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "keyboard_arrow_right",
    "payload": "right",
    "payloadType": "str",
    "topic": "supernova/motors/cmd",
    "topicType": "str",
    "x": 180,
    "y": 200,
    "wires": [
      [
        "motor_command_out"
      ]
    ]
  },
  {
    "id": "motor_down_button",
    "type": "ui_button",
    "z": "supernova_motors_flow",
    "name": "Down",
    "group": "supernova_motors_group",
    "order": 4,
    "width": 2,
    "height": 1,
    "passthru": false,
    "label": "DOWN",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "keyboard_arrow_down",
    "payload": "down",
    "payloadType": "str",
    "topic": "supernova/motors/cmd",
    "topicType": "str",
    "x": 180,
    "y": 250,
    "wires": [
      [
        "motor_command_out"
      ]
    ]
  },
  {
    "id": "motor_command_out",
    "type": "mqtt out",
    "z": "supernova_motors_flow",
    "name": "Motor command",
    "topic": "supernova/motors/cmd",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "supernova_mqtt_broker",
    "x": 430,
    "y": 170,
    "wires": []
  },
  {
    "id": "motor_state_in",
    "type": "mqtt in",
    "z": "supernova_motors_flow",
    "name": "Motor state",
    "topic": "supernova/motors/state",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "supernova_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 330,
    "wires": [
      [
        "motor_state_text"
      ]
    ]
  },
  {
    "id": "motor_state_text",
    "type": "ui_text",
    "z": "supernova_motors_flow",
    "group": "supernova_motors_group",
    "order": 5,
    "width": 6,
    "height": 1,
    "name": "Servo state",
    "label": "Servo",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 430,
    "y": 330,
    "wires": []
  }
]
